<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900|Raleway:400,800&display=swap" rel="stylesheet">
    
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
  	<div class="dashboard container">
  		<div class="row">
  			<div class="col-sm-auto sidebar">
           <i class="icon hero"></i>
           <div class="navigation">
              <button class="btn-sidebar btn-home active"><i class="icon medium home"></i></button>
              <button class="btn-sidebar btn-settings"><i class="icon medium gear"></i></button>
           </div>
        </div>
  			<div class="col-sm-10 main-dashboard">
  				<span class="greeting">Good Morning,</span>
  				<h2 class="reviewer-name">Sara de Souza</h2>
  				<div class="row highlights-section">
  					<div class="highlights highlights__petrol col-sm-4">
  						<div class="highlights--box">
  							<div class="highlights--box__utility">
                  <div class="row">
                    <div class="col-sm-12">
                      <i class="icon medium petrol float-left"></i>
                      <button class="outline btn-send float-right">
                        <i class="icon utility send "></i>
                      </button>
                      <button class="outline btn-copy float-right">
                        <i class="icon utility copy "></i>
                      </button>
                    </div>
                  </div>
  							</div>
  							<div class="row info petrol noselect">
	  							<div class="col-sm-4 key-info">
	  								<span class="title-small">Diesel</span>
	  								2.18
	  							</div>
	  							<div class="col-sm-4 key-info">
	  								<span class="title-small">RON95</span>
	  								2.08
	  							</div>
	  							<div class="col-sm-4 key-info">
	  								<span class="title-small">RON97</span>
	  								2.46
	  							</div>
	  						</div>
  						</div>
  					</div>
  					<div class="highlights highlights__gold col-sm-4">
              <div class="highlights--box">
                <div class="highlights--box__utility">
                  <div class="row">
                    <div class="col-sm-12">
                      <i class="icon medium gold float-left"></i>
                      <button class="outline btn-send float-right">
                        <i class="icon utility send "></i>
                      </button>
                      <button class="outline btn-copy float-right">
                        <i class="icon utility copy "></i>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="row info gold noselect">
                  <div class="col-sm-4 key-info">
                    <span class="title-small">Bid</span>
                    2.18
                  </div>
                  <div class="col-sm-4 key-info">
                    <span class="title-small">Ask</span>
                    2.08
                  </div>
                  <div class="col-sm-4 key-info">
                    <span class="title-small">Change</span>
                    2.46
                  </div>
                </div>
              </div>
            </div>
  					<div class="highlights highlights__currency col-sm-4">
              <div class="highlights--box">
                <div class="highlights--box__utility">
                  <div class="row">
                    <div class="col-sm-12">
                      <i class="icon medium currency float-left"></i>
                      <button class="outline btn-send float-right">
                        <i class="icon utility send "></i>
                      </button>
                      <button class="outline btn-copy float-right">
                        <i class="icon utility copy "></i>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="row info currency noselect">
                  <div class="col-sm-4 key-info">
                    <span class="title-small">1USD</span>
                    2.18
                  </div>
                  <div class="col-sm-4 key-info">
                    <span class="title-small">1SGD</span>
                    2.08
                  </div>
                  <div class="col-sm-4 key-info">
                    <span class="title-small">1Euro</span>
                    2.46
                  </div>
                </div>
              </div>
            </div>
  				</div>
          <div class="row graph">
            <div>
              <canvas id="chartPetrol"></canvas>
            </div>
            <div>
              <div class="row">
                <div class="col-sm-8">
                  <canvas id="chartGold"></canvas>
                </div>
                <div class="col-sm-4 listing listing-gold">
                  <div class="listing--item listing-gold--item">
                    <div class="row">
                      <div class="provider-name col-sm-8">Kuwait Finance House Junior Gold Investment</div>
                      <div class="provider-name col-sm-4"><img src="https://www.imoney.my/uploads/my/logos/kuwait-finance-house-logo.png"></div>
                    </div>
                    <div class="row">
                      <div class="col-sm-9 listing-detail">
                        <p class="buy"><span class="legend">Buy -</span> RM163.57/g</p>
                        <p class="buy"><span class="legend">Sell -</span> RM155.44/g</p>
                      </div>
                      <div class="col-sm-3">
                        <button class="cta-provider main small">Apply</button>
                      </div>
                    </div>
                  </div>

                  <div class="listing--item listing-gold--item">
                    <div class="row">
                      <div class="provider-name col-sm-8">Public Bank Gold Investment</div>
                      <div class="provider-name col-sm-4"><img src="https://www.imoney.my/uploads/my/logos/Public-Bank-Logo.png"></div>
                    </div>
                    <div class="row">
                      <div class="col-sm-9 listing-detail">
                        <p class="buy"><span class="legend">Buy -</span> RM173.97/g</p>
                        <p class="buy"><span class="legend">Sell -</span> RM163.30/g</p>
                      </div>
                      <div class="col-sm-3">
                        <button class="cta-provider main small">Apply</button>
                      </div>
                    </div>
                  </div>

                  <div class="listing--item listing-gold--item">
                    <div class="row">
                      <div class="provider-name col-sm-8">HelloGold Gold Investment</div>
                      <div class="provider-name col-sm-4"><img src="https://www.imoney.my/uploads/logos/to_NAT.png"></div>
                    </div>
                    <div class="row">
                      <div class="col-sm-9 listing-detail">
                        <p class="buy"><span class="legend">Buy -</span> RM171.5/g</p>
                        <p class="buy"><span class="legend">Sell -</span> RM168.88/g</p>
                      </div>
                      <div class="col-sm-3">
                        <button class="cta-provider main small">Apply</button>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
            <div>
              <canvas id="chartCurrency"></canvas>
            </div>
          </div>
  			</div>
  		</div>
	    
    </div>


    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <script src="/js/script.min.js"></script>
  </body>
</html>
